.ridersclass li {
    float: left;
    width: 33%
}
.spinner-myimg {
    background: #fff url(../img/loading.gif) no-repeat scroll center center;
    float: none;
    height: 300px;
    margin: 11px auto auto;
    text-align: center;
    width: 99%
}
.wrap #header-area .logo {
    float: left;
    margin: 17px 20px;
    background: none;
    width: auto
}
.wrap #header-area .emg-icon-option-left {
    background: rgba(0, 0, 0, 0) url(../img/weather.png) no-repeat scroll 0 0 / 53px auto;
    float: left;
    height: 64px;
    margin: 0 20px 0 0;
    width: 64px
}
#bottom_border td {
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 34px
}
.wrap #header-area .emg-cp-title {
    width: 450px
}
.wrap #header-area .logo h2 {
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 21px !important;
    font-family: Arial, Helvetica, sans-serif !important
}
.wrap #header-area {
    height: 80px;
    width: auto;
    border: 1px solid #ccc;
    border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    background: #deebf4
}
.wrap #main-area {
    background-color: #F5F5F5;
    border-top: 1px solid #EBEBEB;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    padding: 4%
}
.message {
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding: 6px 8px
}
.weather_success {
    border-left: 5px solid #7ad03a
}
.weather_error {
    border-left: 5px solid red
}
._main-row {
    border: 1px solid #d8d8d8
}
.cy-option-left li {
    width: 100%;
    border-bottom: 2px solid #d8d8d8
}
.padding0 {
    padding: 0 !important
}
.right-op-panel {
    background-color: #deebf4;
    border-left: 1px solid #d8d8d8;
    min-height: 225px !important
}
.weather_days {
    width: 100px
}
.api_url_input {
    height: 30px;
    width: 515px
}
.setting_table label {
    font-size: 15px;
    font-weight: 700
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    width: 101%;
    z-index: 999;
    border: 0 !important;
    background-color: #fff !important
}
.cy-option-left li a {
    background-color: #eee !important;
    border-radius: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    outline: 0 !important
}
.tab-pane {
    padding: 2%;
    background: #deebf4 none repeat scroll 0 0
}
.countries-list li {
    width: 33%;
    float: left
}
.countries-list li label input {
    float: left
}
.countries-list li label span {
    padding: 2px 0 0 2px;
    float: left
}
.of-info-cy-main {
    padding: 15px 10px;
    line-height: 1.2em;
    font-size: 13px;
    background-color: #2ea2cc;
    border: 1px solid #D0D0D0;
    color: #9D9D9D;
    overflow: hidden;
    margin-bottom: 10px
}
.of-info-cy-main h3 {
    color: #fff
}
.cy-checkbox input {
    float: left
}
.cy-checkbox span {
    padding: 3px 0 0 2px;
    float: left
}
.of-info-cy {
    padding: 5px;
    line-height: 1.2em;
    font-size: 13px;
    background-color: #eee;
    color: #9D9D9D;
    overflow: hidden;
    margin-bottom: 10px
}
.cy-checkbox input {
    float: left
}
.cy-checkbox span {
    padding: 3px 0 0 2px;
    float: left
}
.dashboard_city {
    float: left;
    width: 151px;
    font-size: 14px
}
.dashboard_city select {
    width: 100%
}
.pager {
    text-align: center
}
.weather-element {
    height: 50px
}
.panel-default > .panel-heading {
    background-color: #f5f5f5;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    color: #333;
    padding: 1px 12px
}
.panel-group .panel {
    border-radius: 4px;
    margin-bottom: 0;
    overflow: hidden
}
.panel-default {
    border-color: #ddd
}
.panel {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px
}
.main-display .col-xs-4 {
    width: 33%;
    float: left
}
#accordion {
    border: 1px solid #ddd;
    border-radius: 3px;
    clear: both
}
.panel-body table {
    display: inline-flex;
    overflow-x: scroll !important;
    position: relative;
    width: 100%
}
.panel-body table li {
    background: #deebf4 none repeat scroll 0 0;
    list-style: inside none disc;
    padding-left: 8px
}
.vadret-en-timme {
    min-width: 95px
}
.tableTime {
    margin-top: 0;
    padding-top: 0
}
.onlyTime {
    background: #2ea2cc none repeat scroll 0 0 !important;
    color: #fff;
    font-size: 16px !important;
    font-weight: 700;
    list-style: outside none none !important;
    text-align: center
}
.weather_data {
    background: #deebf4 none repeat scroll 0 0;
    margin-bottom: 20px;
    padding: 10px
}
#weather-header h1 {
    color: #0074a2
}
.weather_data h2 {
    color: #0074a2
}
.let-the-sun-go-down li {
    font-weight: 700;
    font-size: 16px
}
.show_for_detail {
    display: none
}
.bracker {
    clear: both;
    padding-top: 8px
}
.main-display {
    font-size: 16px;
    font-weight: 700
}
.main-display li {
    font-size: 16px;
    margin-bottom: 0;
    padding-bottom: 0
}
.main-display li> i {
    margin-right: 7px
}
.pull-right {
    float: right;
    width: 15%
}
.only_text_div {
    color: #0074a2;
    font-size: 12.5px;
    line-height: 18px;
    padding-top: 24px
}
.type-codes .view {
    display: none
}
#toplevel_page_settings>.wp-submenu-wrap>.wp-first-item {
    display: none;
}